  <li>
    Skills:
    <ul>
     <li> <%= "Advocacy................................................ "+@user.advocacy %> </li>
     <li> <%= "Business................................................. "+@user.business %> </li>
     <li> <%= "Communications..................................... "+@user.communications %> </li>
     <li> <%= "Diversity.................................................. "+@user.diversity %> </li>
     <li> <%= "Finance................................................... "+@user.finance %> </li>
     <li> <%= "Fundraising............................................. "+@user.fundraising %> </li>
     <li> <%= "Human Resources.................................. "+@user.humanresources %> </li>
     <li> <%= "Information Technology.......................... "+@user.information %> </li>
     <li> <%= "Legal....................................................... "+@user.legal %> </li>
     <li> <%= "Organization Development..................... "+@user.orgdevelop %> </li>
     <li> <%= "Outcome................................................. "+@user.outcome %> </li>
     <li> <%= "Project Management............................... "+@user.projectmanagement %> </li>
     <li> <%= "Training................................................... "+@user.training %> </li>
     <li> <%= "Volunteer Management........................... "+@user.volunteer %> </li>
    </ul>
  </li>
   <li>
    Interests:
   <ul>
    <li> <%= @user.interest_1 %> </li>
    <li> <%= @user.interest_2 %> </li>
    <li> <%= @user.interest_3 %> </li>
    <li> <%= @user.interest_4 %> </li>
    <li> <%= @user.interest_5 %> </li>
   </ul>
  </li>
  <li>

