<html>
<head>
<title>Boardbank</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
<!-- Static navbar -->
<nav class="navbar navbar-inverse" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">Boardbank</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="http://www.greaterpcf.org/">Greater Poweshiek Community Foundation</a></li>
<% if user_signed_in? %>
<% @id = current_user.id %>
<li><%= link_to 'Profile', controller: "profile", action: "show_user", id: @id %></li>
<li><a href="/organizations">Organizations</a></li>
<% else %>
<% end %>
<% if organization_signed_in? %>
<% @id = current_organization.id %>
<li><%= link_to 'Profile', controller: "profile", action: "show_org", id: @id %></li>
<li><a href="/organizations">Organizations</a></li>
<li><a href="/users">Users</a></li>
<% else %>
<% end %>
</ul>

<ul class="nav navbar-nav navbar-right">

</ul>

</div><!--/.nav-collapse -->
</nav>
<div>
<%if @error then %>
<div class="alert alert-error"><%=@error%></div>
<% end %>
<%= yield %>
</div>
</div>

<div id = 'content' class='container' >
<div class= 'span9 main' >
<div class = "jumbotron" >

<html>
<style> <%# bg color %>
body {
    background-color: #b0c4de;
}
</style>

<style> table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }


</style>

<%= form_tag search_users_path, method: :get do%>
  <%= label_tag("Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>

<h2>List of Users</h2>




<% 
=begin %>
<%= form_tag users_path, :method => :get do %>
  <% @interests.each do |interest| %>
  <%= interest.name %>
          <%= check_box_tag 'interests[]', interest.id, false, {class: 'form-control', id: "interest-#{interest.id}"} %>
  <% end %>
    <%= submit_tag 'Filter' %>
 <%end%>
</form> 
<% end %>
<% 
=end %>

<br>
<br>



      <% if user_signed_in? %>
      <h3> You do not have access to this area </h3>
      <% elsif organization_signed_in? %>




      <ul class="list-group">
          
<% if @users.empty?%>
  <p style="font: 14pt/10pt Garamond, Georgia, serif; text-indent: 40px;"> 
        User Not Found
  </p>
  
<% else %>
  <% @users.each do |user| %>
  <% @id = user.id %>
  <% @name = user.firstname.to_s + " " + user.lastname.to_s %>
  <li href="#" class="list-group-item">
<%= link_to @name, controller: "profile", action: "show_user", id: @id %>
        <%= user.email %>
        <%= user.city %>
        <%= user.education %>

  </li>
      </ul>

      <% end %>
      <% end %>
      <% else %>
    </div>
  </div>
</div>

</body>
</html>
<% end %>
</div>
</div>
</div>
