

<html>
<style> <%# bg color %>
body {
    background-color: #b0c4de;
}
</style>

<style> table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }


</style>

<%= form_tag users_path, :method => :get do %>
  <% @interests.each do |interest| %>
  <%= interest.name %>
          <%= check_box_tag 'interests[]', interest.id, false %>
  <% end %>
    <%= submit_tag 'Filter' %>
 <%end%>
</form>

<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>List of Users</h2>

      <% if user_signed_in? %>
      <h3> You do not have access to this area </h3>
      <% elsif organization_signed_in? %>




      <ul class="list-group">
  <% @users.each do |user| %>
  <% @id = user.id %>
  <% @name = user.firstname.to_s + " " + user.lastname.to_s %>
  <li href="#" class="list-group-item">
<%= link_to @name, controller: "profile", action: "show_user", id: @id %>



            <%= user.email %>


            <%= user.city %>


            <%= user.education %>

  </li>
      </ul>

      <% end %>
      <% else %>
    </div>
  </div>
</div>

</body>
</html>
<% end %>
