<!-- Page Body Stylesheet -->
<%= stylesheet_link_tag 'overhead'%>

<body>
   <div id = 'content' class='container' >
      <div class= 'span9 main' >
         <div class = "jumbotron" >
            <html>
            <style> table, th, td {
               border: 1px solid black;
               border-collapse: collapse;
            }
         </style>

         <div class="col-sm-3 col-md-3">
            <%= form_tag search_users_path, class: 'navbar-form', method: :get do%>
            <div class="input-group">
               <%= text_field_tag :q, params[:q], size: 300, placeholder: "Search", class: "form-control"%>
               <%= submit_tag 'Search', class: 'btn btn-success' %>
            </div>

            <% end %>
         </div>


         <h2 class="listof">List of Users</h2>

         <% if user_signed_in? %>
         <h3> You do not have access to this area </h3>
         <% elsif organization_signed_in? %>
         <ul class="list-group">
            <% if @users.empty?%>
            <p style="font: 14pt/10pt Garamond, Georgia, serif; text-indent: 40px;"> 
               User Not Found
            </p>
            <% else %>
            <% @users.each do |user| %>
            <% @id = user.id %>
            <% @name = user.firstname.to_s + " " + user.lastname.to_s %>
            <li href="#" class="list-group-item">
               <%= link_to @name, controller: "profile", action: "show_user", id: @id %>
               <%= user.email %>
               <%= user.city %>
               <%= user.education %>
            </li>
         </ul>
         <% end %>
         <% end %>
         <% else %>
      </div>
   </div>
</div>
</body>
</html>
<% end %>
</div>
</div>
</div>

