

<html>
<style> <%# bg color %>
body {
    background-color: #b0c4de;
}
</style>

<style> table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }


</style>
<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>List of Users</h2>

      <% if user_signed_in? %>
      <h3> You do not have access to this area </h3>
      <% elsif organization_signed_in? %>


      <ul class="list-group">
	<% @users.each do |user| %>
	<% @id = user.id %>
	<% @name = user.firstname.to_s + " " + user.lastname.to_s %>
	<li href="#" class="list-group-item"> 
	  <span style="font-family:Georgia;font-size:30px;font-style:normal;font-weight:bold;text-transform:uppercase;letter-spacing:1px;line-height:4px;"> 
<%= link_to @name, controller: "profile", action: "show_user", id: @id %>
 </span>
	  <p class="list-group-item-text">
	  <p style="font: 14pt/10pt Garamond, Georgia, serif; text-indent: 40px;">
            <%= user.email %>

	  <p style="font: 14pt/10pt Garamond, Georgia, serif; text-indent: 40px;">
            <%= user.city %>

	  <p style="font: 14pt/10pt Garamond, Georgia, serif; text-indent: 40px;">
            <%= user.education %>

	  <p style="font: 14pt/10pt Garamond, Georgia, serif; text-decoration: underline; text-indent: 40px;">
            <%= user.interest_1 %>

	  <p style="font: 14pt/10pt Garamond, Georgia, serif; text-decoration: underline; text-indent: 40px;">
	    <%= user.interest_2 %>
	  </p>

	</li>
      </ul>

      <% end %>
      <% else %>
    </div>
  </div>
</div>

</body>
</html>
<% end %>
