<div id='content' class='container'>
  <div class='span9 main'>
    <div class="col-md-8 col-md-offset-2">

      <% if user_signed_in? && !organization_signed_in? %>
      <div class="page-header">
        <h1 style="font-size:4em">Welcome back!</h1>
      </div>
      <br/>
      <p class="lead">
        You are currently signed in!
        <br/>
      </p>
      <%= link_to "Edit Profile", edit_user_registration_path, :method => :get, :class => 'btn btn-large btn-success' %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
      <% elsif organization_signed_in? %>
      <h1>Welcome back!</h1>
      <br/>
      <p class="lead">
        You have signed in!
        <br/>
      </p>
      <%= link_to "Edit Profile", edit_organization_registration_path, :method => :get, :class => 'btn btn-large btn-success' %>
      <%= link_to "Sign Out", destroy_organization_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
      <% else %>
      <h1>Welcome!</h1>
      <br/>
      <p class="lead">
        This is the Greater Poweshiek Community Foundation's Boardbank website where we help match up interested users with organizations in need of board members. Please either sign in or sign up to access Boardbank.
        <br/>
        <br/>
        Sign up as
        <span class="row-fluid">
          <span class="span6">
            <%= link_to "User", new_user_registration_path, :class => "btn btn-large btn-success" %>
            or
            <%= link_to "Organization", new_organization_registration_path, :class => "btn btn-large btn-success" %>

          </span>
        </span>
        <br/>
        <hr/>
        <br/>
        <%= link_to "User Sign In", new_user_session_path, :class => "btn btn-large
        btn-default" %>
        or
        <%= link_to "Organization Sign In", new_organization_session_path, :class => "btn btn-large
        btn-default" %>
      </p>
      <% end %>
      </div>
    </div>
  </div>
</div>