<div id='content' class='container'>
  <div class='span9 main'>
    <div class="col-md-8 col-md-offset-2">

      <% if user_signed_in? && !organization_signed_in? %>
      <div class="page-header">
        <% if @user.sign_in_count <= 1 %>
          <h1 style="font-size:4em">Welcome to Boardbank!</h1>
        <% else %>
        <h1 style="font-size:4em">Welcome back!</h1>
        <% end %>
      </div>
      <br/>
      <!-- <p class="lead">
        This should be a feed of information from organizations or users the account has interest in or contact with.
        <br/>
      </p> 
      -->
      <p class="lead">
        <% if @user.sign_in_count <= 1 %>
          Get started with Boardbank by filling out your interests and skills so organizations can find you more easily. <br/><br/>
          <%= link_to "Edit Profile", edit_user_registration_path, :method => :get, :class => 'btn btn-large btn-success' %><br/><br/>
        <% elsif @user.user_interest.empty? %>
          It seems you have not filled out your interests and skills! Please update them so organizations can find you more easily. <br/><br/>
          <%= link_to "Edit Profile", edit_user_registration_path, :method => :get, :class => 'btn btn-large btn-success' %><br/><br/>
        <% end %>
        Find compatible organizations through our organization search. <br/><br/>
        <%= link_to "Search organizations", organizations_path, :method => :get, :class => 'btn btn-large btn-success' %>
      </p>
      
      <% elsif organization_signed_in? %>
      <h1>Welcome to Boardbank!</h1>
      <br/>
      <p class="lead">
        Find compatible prospective board members through our user search. <br/><br/>
        <%= link_to "Search Individuals", users_path, :method => :get, :class => 'btn btn-large btn-success' %>
        <br/>
      </p>
      
      <% if false %>
        <%= link_to "Edit Profile", edit_organization_registration_path, :method => :get, :class => 'btn btn-large btn-success' %>
        <%= link_to "Sign Out", destroy_organization_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
      <% end %>
        
      <% else %>
      <p class="lead">
        <h1>Welcome to Boardbank!</h1>
        Boardbank is the Greater Poweshiek Community Foundation's Boardbank website that matches interested individuals with organizations in need of board members. Please either sign in or sign up to access Boardbank.
        <br/>
        <br/>
        An <b>Organization</b> is a group that has a managerial board to organize people to accomplish some goal or common interest. If you intend to seek out individuals to be a part of a board, use Boardbank as an organization. 
        <br/>
        An <b>Individual</b> is an independent persons who is interested in joining the managerial board of an organization. If you aim to join or become a member an organizational board, use Boardbank as an individual.
        <br/>
        <br/>
        Sign up as
        <span class="row-fluid">
          <span class="span6">
            <%= link_to "Individual", new_user_registration_path, :class => "btn btn-large btn-success" %>
            or
            <%= link_to "Organization", new_organization_registration_path, :class => "btn btn-large btn-success" %>

          </span>
        </span>
        <br/>
        <hr/>
        <br/>
        <%= link_to "Individual Sign In", new_user_session_path, :class => "btn btn-large
        btn-default" %>
        or
        <%= link_to "Organization Sign In", new_organization_session_path, :class => "btn btn-large
        btn-default" %>
      </p>
      <% end %>
      </div>
    </div>
  </div>
</div>