<div class="container">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
<h2>Edit Organization Profile</h2>
</div>
</div>
</div>

<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
<%= devise_error_messages! %>


<div class="form-group">
    <%= f.label :Organization_name, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Contact_Name, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :contact_name, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :About, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_area :about, cols: 10, rows: 8, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Address, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :address, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :City, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :city, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :State, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= subregion_select(:organization, :state, Carmen::Country.coded('US'), {include_blank: true}, class: "form-control", autofocus: true) %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Zip_Code, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :zipcode, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Phone_Number, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.telephone_field :telephone, class: "form-control",autofocus: true, :required => true, :pattern => '^(\s{1,}|)(\(|)\d{3}(\)|)(\s{1,}|)(-|)(\s{1,}|)\d{3}(\s{1,}|)(-|)(\s{1,}|)\d{4}$', :oninvalid => "setCustomValidity('Please type only digits, parentheses and dashes, e.g. 777-777-7777 or (777) 777-7777, or simply 7777777777. Make sure you are entering 10 digits.')", :oninput => "setCustomValidity('')" %>
    </div>
</div>


<div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.email_field :email, class: 'form-control'  %>
    </div>
</div>

<hr />

<div class="form-group">
    <%= f.label :New_Password, class: 'col-sm-2 control-label'  %> <i>(leave blank if you don't want to change it)</i>
    <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
    </div>
</div>


<div class="container">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
<h3>Confirm changes?</h3>
</div>
</div>
</div>
<hr />
<div class="form-group">
    <%= f.label :current_password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Update", class: "btn btn-default" %>
    </div>
</div>

<% end %>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
    <p>Unhappy?
      <%= button_to "Cancel my account", registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete, class: 'btn
          btn-danger' %> </p>
    <%= link_to "Back", :back %>
  </div>
</div>
