<% # in app/views/profile/show.html.haml %>
<h2> <%= @org.orgname %> </h2>
  <% if @org.orgabout %>
  <li>
  About:
 <%= @org.orgabout %>
  </li>
  <% end %>

 <% if @org.org_city && @org.org_state %>
  <li>
  Location:
  <%= @org.org_city+", "+@org.org_state %>
  </li>
  <% end %>
  <li>
  Contact:
  <br>
   Email: <%= @org.email %> <br/>
  <% if @org.org_telephone %>
   Phone: <%= @org.org_telephone %> <br/>
  <% end %>
  </li>
<br/>


  <% if @org == current_organization %>
     <%= link_to "Edit Profile", edit_organization_registration_path, :method => :get, :class => 'btn btn-default' %>
<br/>
<% end %>
<%= link_to "Home", root_path, :method => :get, :class => 'btn btn-default' %>


