<% # in app/views/profile/show.html.haml %>
<h2>Profile of  <%= @org.orgname %>
   <li>
  About:
  <%= @org.orgabout %>
  </li>
  <li>
  Location:
  <%= @org.org_city %>
  <%= @org.org_state %>
  </li>
  <li>
  Contact:
    <%= @org.email %>
    <%= @org.org_telephone %>
  </li>
</h2>
<br/>


  <% if @org == current_organization %>
     <%= link_to "Edit Profile", edit_organization_registration_path, :method => :get, :class => 'btn btn-default' %>
<br/>
<% end %>
<%= link_to "Home", root_path, :method => :get, :class => 'btn btn-default' %>


