<div class="container">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
<h2>Edit User Profile</h2>
</div>
</div>
</div>

<hr>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
    <%= f.label :First_Name, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :firstname, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Last_Name, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :lastname, autofocus: true, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Address, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :address, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :City, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :city, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :State, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :state, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['',
            'Alabama',
            'Alaska',
            'Arizona',
            'Arkansas',
            'California',
            'Colorado',
            'Connecticut',
            'Delaware',
            'Florida',
            'Georgia',
            'Hawaii',
            'Idaho',
            'Illinois',
            'Indiana',
            'Iowa',
            'Kansas',
            'Kentucky',
            'Louisiana',
            'Maine',
            'Maryland',
            'Massachusetts',
            'Michigan',
            'Minnesota',
            'Mississippi',
            'Missouri',
            'Montana',
            'Nebraska',
            'Nevada',
            'New Hampshire',
            'New Jersey',
            'New Mexico',
            'New York',
            'North Carolina',
            'North Dakota',
            'Ohio',
            'Oklahoma',
            'Oregon',
            'Pennsylvania',
            'Rhode Island',
            'South Carolina',
            'South Dakota',
            'Tennessee',
            'Texas',
            'Utah',
            'Vermont',
            'Virginia',
            'Washington',
            'West Virginia',
            'Wisconsin',
            'Wyoming']), {}, class: "form-control", autofocus: true %>​
    </div>
</div>

<div class="form-group">
    <%= f.label :Zip_Code, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :zipcode, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Phone_Number, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.telephone_field :phonenumber, class: "form-control",autofocus: true %>
    </div>
</div>

<hr>
<div class="form-group">
    <%= f.label :education, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :education, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['',
'High School Diploma', 'Bachelors', 'Masters', 'PhD']),
 {}, class: "form-control", autofocus: true %>​
    </div>
</div>


<div class="form-group">
    <%= f.label :Area_of_study, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.text_field :areaofstudy, class: 'form-control'  %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Have_you_completed_any_board_education_or_service_training?, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.check_box :previous_experience, {}, true, class: 'form-control'  %>
    </div>
</div>

<hr>
<div class="form-group">
    <%= f.label :Interest_1, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">

        <%= f.text_field :interest_1, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['', 
'Arts/Museum',
'Early Childhood',
'Literacy',
'Animal Rights',
'Environmental',
'Mental Health',
'Children/Youth',
'Health Care',
'Recreation',
'Civic/Community',
'Historical', 
'Preservation', 
'Senior Services',
'Disabilities', 
'Homeless/Emergency',
'Substance Abuse',
'Education',
'Housing Development'
]),
 {}, class: "form-control", autofocus: true %>​
    </div>
</div>

<div class="form-group">
    <%= f.label :Interest_2, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">

        <%= f.text_field :interest_2, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['', 
'Arts/Museum',
'Early Childhood',
'Literacy',
'Animal Rights',
'Environmental',
'Mental Health',
'Children/Youth',
'Health Care',
'Recreation',
'Civic/Community',
'Historical', 
'Preservation', 
'Senior Services',
'Disabilities', 
'Homeless/Emergency',
'Substance Abuse',
'Education',
'Housing Development'
]),
 {}, class: "form-control", autofocus: true %>​
    </div>
</div>

<div class="form-group">
    <%= f.label :Interest_3, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">

        <%= f.text_field :interest_3, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['', 
'Arts/Museum',
'Early Childhood',
'Literacy',
'Animal Rights',
'Environmental',
'Mental Health',
'Children/Youth',
'Health Care',
'Recreation',
'Civic/Community',
'Historical', 
'Preservation', 
'Senior Services',
'Disabilities', 
'Homeless/Emergency',
'Substance Abuse',
'Education',
'Housing Development'
]),
 {}, class: "form-control", autofocus: true %>​
    </div>
</div>

<div class="form-group">
    <%= f.label :Interest_4, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">

        <%= f.text_field :interest_4, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['', 
'Arts/Museum',
'Early Childhood',
'Literacy',
'Animal Rights',
'Environmental',
'Mental Health',
'Children/Youth',
'Health Care',
'Recreation',
'Civic/Community',
'Historical', 
'Preservation', 
'Senior Services',
'Disabilities', 
'Homeless/Emergency',
'Substance Abuse',
'Education',
'Housing Development'
]),
 {}, class: "form-control", autofocus: true %>​
    </div>
</div>

<div class="form-group">
    <%= f.label :Interest_5, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">

        <%= f.text_field :interest_5, class: "form-control",autofocus: true, :readonly => true %>
                <%= f.select :state, options_for_select(['', 
'Arts/Museum',
'Early Childhood',
'Literacy',
'Animal Rights',
'Environmental',
'Mental Health',
'Children/Youth',
'Health Care',
'Recreation',
'Civic/Community',
'Historical', 
'Preservation', 
'Senior Services',
'Disabilities', 
'Homeless/Emergency',
'Substance Abuse',
'Education',
'Housing Development'
]),
 {}, class: "form-control", autofocus: true %>​
    </div>
</div>



<hr>
<div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.email_field :email, class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :New_password, class: 'col-sm-2 control-label'  %> <i>(leave blank if you don't want to change it)</i>
    <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
    </div>
</div>


<div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
    </div>
</div>


<div class="container">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
<h3>Confirm changes?</h3>
</div>
</div>
</div>
<hr />
<div class="form-group">
    <%= f.label :current_password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
</div>


<% end %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <p>Unhappy?
      <%= button_to "Cancel my account", registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete, class: 'btn
          btn-danger' %> </p>
    <%= link_to "Back", :back %>
  </div>
</div>
