<div class="container">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
<h2>Sign up as a User</h2>
</div>
</div>
</div>

<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
<%= devise_error_messages! %>

<br/>



<div class="form-group">
    <%= f.label :First_Name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :firstname, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Last_Name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :lastname, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Address, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :address, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :City, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :city, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :State, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.select :state, options_for_select(['',
            'Alabama',
            'Alaska',
            'Arizona',
            'Arkansas',
            'California',
            'Colorado',
            'Connecticut',
            'Delaware',
            'Florida',
            'Georgia',
            'Hawaii',
            'Idaho',
            'Illinois',
            'Indiana',
            'Iowa',
            'Kansas',
            'Kentucky',
            'Louisiana',
            'Maine',
            'Maryland',
            'Massachusetts',
            'Michigan',
            'Minnesota',
            'Mississippi',
            'Missouri',
            'Montana',
            'Nebraska',
            'Nevada',
            'New Hampshire',
            'New Jersey',
            'New Mexico',
            'New York',
            'North Carolina',
            'North Dakota',
            'Ohio',
            'Oklahoma',
            'Oregon',
            'Pennsylvania',
            'Rhode Island',
            'South Carolina',
            'South Dakota',
            'Tennessee',
            'Texas',
            'Utah',
            'Vermont',
            'Virginia',
            'Washington',
            'West Virginia',
            'Wisconsin',
            'Wyoming']), {}, class: "form-control", autofocus: true %>​
    </div>
</div>

<div class="form-group">
    <%= f.label :Zip_Code, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :zipcode, class: "form-control",autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :Phone_Number, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.telephone_field :phonenumber, class: "form-control",autofocus: true %>
    </div>
</div>

<hr/>

<div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.email_field :email, class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
</div>


<div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
</div>

<% end %>
